
/* -------------------------------------------------------------------------cores da pag-------------------------------------------------------------------------------------------- */
:root {
    --cor-primaria: #213555;
    --cor-secundaria: #4F709C;
    --cor-terciaria: #f5c506;
    --cor-quartenaria: #8ECDDD;
    --cor-de-fundo: #c9d6d8;
    --cor-de-fundo-2: #4d4d4d;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */




/* -------------------------------------------------------------------rolagem do mouse---------------------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;/*comportamento-do-scrol; suave*/
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------ fazendo correção de classes----------------------------------------------------------------------------------- */
.titulo-de-pag {
    color: var(--cor-primaria);
}
.titulo-de-artigo {
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}
.titulo-de-sessao {
    color: var(--cor-terciaria);
}
body {
 text-align: justify;
 margin: 20px 50px;
 background-color: var(--cor-de-fundo);
}
p{
    line-height: 1.2;
}
.paragrafo-de-artigo{
    background-color: var(--cor-de-fundo-2);
    padding: 20px 20px 0 20px;
    color:white;
}
article{
    border: 4px double var(--cor-quartenaria);
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px 0;
}

.menu-principal ul{
background-color: var(--cor-de-fundo);
}

.menu-principal li{
    color: var(--cor-de-fundo);
}

.menu-principal a {
    color: black;
}

p + .paragrafo  {
    padding-top: 0;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------colorindo link--------------------------------------------------------------------------------------------- */
a:link {
    color:rgb(0, 0, 0);
}
a:visited{
    color:green;
}
a:hover{
    color:red;
}
a:active{
    color:brown;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



article p:first-of-type{
    border-radius: 20px 0 0 0;
}
article p:last-of-type{
    border-radius: 0 0 20px 0;
}