:root {
    --cor-primaria: #213555;
    --cor-secundaria: #4F709C;
    --cor-terciaria: #E5D283;
    --cor-quartenaria: #8ECDDD;
    --cor-de-fundo: #F0F0F0;
    --cor-de-fundo-2: #FFFADD;
}






html {
    scroll-behavior: smooth;/*comportamento-do-scrol; suave*/
}

.titulo-de-pag {
    color: var(--cor-primaria);
}
.titulo-de-artigo {
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}
.titulo-de-sessao {
    color: var(--cor-terciaria);
}
body {
 text-align: justify;
 margin: 20px 50px;
 background-color: var(--cor-de-fundo);
}
p{
    line-height: 1.2;
}
.paragrafo-de-artigo{
    background-color: var(--cor-de-fundo-2);
    padding: 20px 20px 0 20px;
}
article{
    border: 4px double var(--cor-quartenaria);
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px 0;
}
